haystack-ai
google-ai-haystack
trafilatura
pyjwt
asyncio
aiohttp
python-signal
google-generativeai
streamlit
python-dotenv
requests
python-binance
binance-futures-connector
pandas==1.5.3
gunicorn
numpy==1.24.3
websocket-client
urllib3
Flask
Flask-SQLAlchemy
cryptography
plotly
snscrape
praw
asyncpraw
nltk
huggingface_hub
sentence-transformers
